@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #181818;
    --color-gradient-secondary: #0c1622;
    --color-secondary: #232323bf;
    --color-secondary-no-alpha: #232323;
    --color-text-base: #d9d9d9;
    --color-extras: #fca311;
    --color-extras-secondary: #292929;
    --color-shadow: #00000040;
  }
}

.theme-blue {
  --color-primary: #0a092d;
  --color-gradient-secondary: #14123f;
  --color-secondary: #2e3856bf;
  --color-secondary-no-alpha: #2e3856;
  --color-text-base: #d9d9d9;
  --color-extras: #00adb5;
  /* --color-extras-secondary: #292929;
  --color-shadow: #101010; */
}

.theme-light {
  --color-primary: #f8fafc;
  --color-gradient-secondary: #d9eafd;
  --color-secondary: #9aa6b2bf;
  --color-secondary-no-alpha: #9aa6b2;
  --color-text-base: #0a0a0a;
  --color-extras: #42423d;
  /* --color-extras-secondary: #292929;
  --color-shadow: #101010; */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  color: #d9d9d9;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-primary);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 100vh;
    border: 1px solid var(--color-text-base);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-base);
  }

  .inputBox input:focus,
  .inputBox input:valid {
    @apply border-2 border-extras;
  }

  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span {
    @apply border-l-2 border-r-2 border-extras bg-gradient-to-b from-[var(--color-primary)] to-[var(--color-secondary-no-alpha)] px-2 text-sm tracking-[0.2rem];
    color: var(--color-text-base);
    transform: translate(15px, -22px);
    font-size: 0.75rem;
    opacity: 1;
  }

  .inputAddQuizBox input:focus ~ span,
  .inputAddQuizBox input:valid ~ span {
    @apply rounded-[20px] bg-primary px-2 text-sm tracking-[0.1rem];
    color: var(--color-text-base);
    transform: translate(5px, -25px);
    font-size: 0.7rem;
    opacity: 1;
  }

  .shadow-custom-inner {
    box-shadow: inset 2px 2px 7px 2px var(--color-shadow);
  }

  .shadow-custom {
    box-shadow: 2px 2px 7px 2px var(--color-shadow);
  }

  .border-bottom::after {
    content: "";
    height: 1px;
    width: calc(100% - 8px);
    @apply absolute left-1 top-12 bg-baseText;
  }
}

/** NAVIGATION STYLES **/

.list-item {
  @apply flex h-10 w-48 cursor-pointer items-center gap-1 space-x-2 rounded-lg pl-3 font-poppins transition-colors duration-1000;
}

.list-item:hover {
  @apply shadow-custom-inner bg-extras;
}

.list-item-selected {
  @apply shadow-custom-inner bg-extras;
}

.list-item-selected:hover {
  @apply shadow-custom-inner bg-extras;
}

.list-item svg {
  @apply h-6 w-6 text-baseText;
}

.list-item span {
  @apply text-lg text-baseText;
}

.list-item-selected svg,
.list-item-selected span {
  @apply text-secondary;
}
